# Add any directories, files, or patterns you don't want to be tracked by version control
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.database
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


*.log

git_stats

##
config
app.constants.ts

application-*.yml
application.yml
!application-template.yml